[*.cs]

# IDE0056: Use index operator
dotnet_diagnostic.IDE0056.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = silent

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = silent
